.day, .hour {
	margin-left: auto;
	margin-right: auto;
	/*	padding: 20px;*/
}
.radar {
	width: 100%;
	height: 200px;
}
#tempHigh {
	font-size: 1.67em;
	font-weight: 800;
}
#tempLow {
	font-size: 1.2em;
	font-weight: 500;
}
#feelsLikeText {
	font-size: 1.2em;
	font-weight: 500;
}
#feelsLikeTemp {
	font-size: 1.5em;
	font-weight: 700;
}
.current_conditions {
	width: auto;
}
.ConditionText {
	text-align: center;
}
